body {
  width: 100%;
  margin: 0 auto;
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: rgba(206, 144, 255, 1);
}

header {
  width: 100%;
  height: 90px;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .github > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .github > a > svg {
  width: 50px;
  height: 50px;
}

header > .social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header > .social-media > a {
  width: 15px;
  height: 15px;
}

header > .social-media > a + a {
  margin-left: 20px;
}

header > .social-media > a > svg {
  width: 15px;
  height: 15px;
}

.welcome {
  height: 500px;
  margin-left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('img/welcome.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;
}

.welcome > h1 {
  width: 600px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}

.welcome > p {
  width: 550px;
  line-height: 25px;
  font-weight: 300;
}

.profile {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile > .avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  background-image: url('img/account-image-1.jpg');
  background-position: center;
  background-size: 100%;
}

.profile > .info > .date {
  font-size: 10px;
  margin-top: 5px;
}

.subscribe {
  width: 90%;
  height: 110px;
  margin: 70px auto 0;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.subscribe > p {
  font-weight: 500;
  font-size: 17px;
}

.subscribe > input {
  width: 17%;
  height: 30%;
  font-size: 15px;
  padding-left: 20px;
  border: 1px solid #d3d3d3;
  outline: none;
}

.subscribe > input:hover {
  color: rgba(206, 144, 255, 1);
}

.subscribe > button {
  width: 12%;
  height: 40%;
  margin-right: 35px;
  font-size: 12px;
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
  outline: none;
}

.subscribe > button:hover {
  color: rgba(206, 144, 255, 1);
}

.photo-gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
}

.recipe-card {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-photo {
  width: 240px;
  height: 300px;
  background-size: 100%;
  background-position: center;
}

.recipe-1 {
  background-image: url('img/recipe-1.jpg');
}

.recipe-2 {
  background-image: url('img/recipe-2.jpg');
  background-size: 250%;
}

.recipe-3 {
  background-image: url('img/recipe-3.jpg');
  background-size: 120%;
}

.recipe-4 {
  background-image: url('img/recipe-4.jpg');
  background-size: 120%;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  font-family: 'Roboto Mono', sans-serif;
  margin-top: 5px;
  font-size: 12px;
  color: grey;
}

.icons > p:first-of-type {
  margin-right: 15px;
}

.icons > svg {
  width: 19px;
  height: 19px;
  margin-right: 3px;
}

.article {
  line-height: 20px;
}
