body {
  width: 100%;
  margin: 0;
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: rgba(206, 144, 255, 1);
}

header {
  width: 100%;
  height: 90px;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .github > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .github > a > svg {
  width: 50px;
  height: 50px;
}

header > .social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header > .social-media > a {
  width: 15px;
  height: 15px;
}

header > .social-media > a + a {
  margin-left: 20px;
}

header > .social-media > a > svg {
  width: 15px;
  height: 15px;
}
