body {
  width: 100%;
  margin: 0 auto;
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: rgba(206, 144, 255, 1);
}

header {
  width: 100%;
  height: 90px;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .github > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .github > a > svg {
  width: 50px;
  height: 50px;
}

header > .social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header > .social-media > a {
  width: 15px;
  height: 15px;
}

header > .social-media > a + a {
  margin-left: 20px;
}

header > .social-media > a > svg {
  width: 15px;
  height: 15px;
}

.welcome {
  height: 500px;
  margin-left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url('img/welcome.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;
}

.welcome > h1 {
  width: 600px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}

.welcome > p {
  width: 550px;
  line-height: 25px;
  font-weight: 300;
}

.profile {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile > .avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  background-image: url('img/avatar-1.jpg');
  background-position: center;
  background-size: 100%;
}

.profile > .info > .date {
  font-size: 10px;
  margin-top: 5px;
}

.subscribe {
  width: 90%;
  height: 110px;
  margin: 70px auto 0;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.subscribe > p {
  font-weight: 500;
  font-size: 17px;
}

.subscribe > input {
  width: 17%;
  height: 30%;
  font-size: 15px;
  padding-left: 20px;
  border: 1px solid #d3d3d3;
  outline: none;
}

input:hover {
  color: rgba(206, 144, 255, 1);
}

.subscribe > button {
  width: 12%;
  height: 40%;
  margin-right: 35px;
  font-size: 12px;
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
  outline: none;
}

.subscribe > button:hover {
  color: rgba(206, 144, 255, 1);
}

.photo-gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
}

.recipe-card {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.recipe-photo {
  width: 240px;
  height: 300px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.recipe-1 {
  background-image: url('img/recipe-1.jpg');
}

.recipe-2 {
  background-image: url('img/recipe-2.jpg');
  background-size: 250%;
}

.recipe-3 {
  background-image: url('img/recipe-3.jpg');
  background-size: 120%;
}

.recipe-4 {
  background-image: url('img/recipe-4.jpg');
  background-size: 120%;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  font-family: 'Roboto Mono', sans-serif;
  margin-top: 5px;
  font-size: 12px;
  color: grey;
}

.icons > p:first-of-type {
  margin-right: 15px;
}

.icons > svg {
  width: 19px;
  height: 19px;
  margin-right: 3px;
}

.article {
  line-height: 20px;
}

.one-recipe-section {
  height: 400px;
  margin: 70px 90px 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  background-image: url('img/one-recipe-section-photo.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 50%;
}

.block-one-recipe-section {
  margin-left: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.block-one-recipe-section > h1 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
}

.block-one-recipe-section > p {
  width: 550px;
  line-height: 25px;
  font-weight: 300;
}

.block-one-recipe-section > p:nth-of-type(2) {
  margin: 0;
}

.block-one-recipe-section > .icons {
  margin-right: 0;
}

.block-one-recipe-section > .profile > .avatar {
  background-image: url('img/avatar-2.jpg');
}

.second-recipe-section {
  margin: 70px 90px 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.second-recipe-section > aside {
  width: 25%;
}

.second-recipe-section > main {
  width: 40%;
}

.second-recipe-section > aside > .recipe-card {
  width: 100%;
  height: 320px;
}

.second-recipe-section > aside > .recipe-card + .recipe-card {
  margin-top: 40px;
}

.second-recipe-section > aside > .recipe-card > .recipe-photo {
  width: 100%;
}

.second-recipe-section > aside > .recipe-card > .profile > .avatar {
  width: 45px;
  height: 45px;
}

.second-recipe-section
  > aside
  > .recipe-card:first-of-type
  > .profile
  > .avatar {
  background-image: url('img/avatar-3.jpg');
}

.recipe-5 {
  background-image: url('img/recipe-5.jpg');
}

.second-recipe-section
  > aside
  > .recipe-card:nth-of-type(2)
  > .profile
  > .avatar {
  background-image: url('img/avatar-4.jpg');
}

.recipe-6 {
  background-image: url('img/recipe-6.jpg');
}

.big-recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.big-recipe-card > .photo {
  background-image: url('img/recipe-7.jpg');
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: 100%;
}

.big-recipe-card h1 {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}

.big-recipe-card p {
  width: 100%;
  line-height: 25px;
  font-weight: 300;
}

.big-recipe-card > .content {
  margin: 0 5% 0 5%;
}

.big-recipe-card .avatar {
  background-image: url('img/avatar-5.jpg');
}

.recipe-8 {
  width: 100%;
  background-image: url('img/recipe-8.jpg');
}

.second-recipe-section
  > aside:last-of-type
  > .recipe-card
  > .profile
  > .avatar {
  background-image: url('img/avatar-1.jpg');
}

.subscribe-now {
  height: 270px;
  margin: 70px 90px 0 90px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('img/photo-1.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.subscribe-now p {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.subscribe-now > button {
  width: 20%;
  height: 20%;
  margin-right: 35px;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  outline: none;
}

.subscribe-now > button:hover {
  color: rgba(206, 144, 255, 1);
}

.instagram-block {
  margin: 70px 90px 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram-block p {
  line-height: 20px;
}

.instagram-photo {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instagram-block > .instagram-photo > .photo {
  width: 170px;
  height: 170px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-1 {
  background-image: url('img/instagram-photo-1.jpeg');
}

.photo-2 {
  background-image: url('img/instagram-photo-2.jpeg');
}

.photo-3 {
  background-image: url('img/instagram-photo-3.jpeg');
}

.photo-4 {
  background-image: url('img/instagram-photo-4.jpeg');
}

.photo-5 {
  background-image: url('img/instagram-photo-5.jpeg');
}

.photo-6 {
  background-image: url('img/instagram-photo-6.jpeg');
}

footer {
  height: 90px;
  padding: 0 30px;
  margin: 70px 90px 0 90px;
  box-sizing: border-box;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > p {
  line-height: 20px;
  font-weight: 300;
}

footer > .social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

footer > .social-media > a {
  width: 15px;
  height: 15px;
}

footer > .social-media > a + a {
  margin-left: 20px;
}

footer > .social-media > a > svg {
  width: 15px;
  height: 15px;
}
